# Rust
/src-tauri/target
/target
.cargo/
.cargo-home/




# Node
node_modules
dist
dist-ssr
*.local
.npm-cache


# Editor & OS
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
[Dd]esktop.ini

# Logs & temp
*.log
.tmp/
tmp/
.superpowers/

